.whatis-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.whatis-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.whatis-title {
  font-family: 'Nosifer', cursive;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.whatis-subtitle {
  font-family: var(--font-emo-light);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.highlight {
  color: #ff4fa1;
  font-weight: bold;
}

.whatis-text p {
  font-family: var(--font-emo-type);
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.whatis-link {
  color: var(--btn-primary-bg);
  text-decoration: underline;
  margin-left: 5px;
}

.whatis-image-placeholder {
  flex-shrink: 0;
  max-width: 460px;
  text-align: center;
}

.whatis-image {
  width: 100%;
  height: auto;
  max-width: 460px;
  border-radius: 12px;
  box-shadow:
    0 0 10px #ff4fa1,
    0 0 20px #ff4fa1,
    0 0 30px rgba(255, 79, 161, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatis-image:hover {
  transform: scale(1.02);
  box-shadow:
    0 0 15px #ff4fa1,
    0 0 30px #ff4fa1,
    0 0 50px rgba(255, 79, 161, 0.6);
}

.neon-sign {
  font-family: 'Nosifer', cursive;
  font-size: 3rem;
  color: #4e0728;
  text-shadow:
    0 0 5px #ff4fa1,
    0 0 10px #ff4fa1,
    0 0 20px #ff4fa1;
  margin-bottom: 2rem;
  animation: neonFlicker 2s infinite;
  text-align: left;
}

/* Animação neon flicker */
@keyframes neonFlicker {
  0%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #ff4fa1,
      0 0 10px #ff4fa1,
      0 0 20px #ff4fa1;
  }
  50% {
    opacity: 0.8;
    text-shadow:
      0 0 2px #ff4fa1,
      0 0 5px #ff4fa1,
      0 0 10px #ff4fa1;
  }
}


/* Responsivo */
@media (max-width: 768px) {
  .whatis-container {
    flex-direction: column;
    padding: 40px 20px;
    text-align: justify;
  }

  .whatis-image-placeholder {
    display: none; /* <- aqui é onde você esconde */
  }

  .whatis-text {
    max-width: 100%;
    
  }

}


